
{% extends 'header.html' %}
{% block content %}
<style>
.content1 {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.content2{
    text-align:center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 45%;
    -ms-transform: translate(-30%, -55%);
    transform: translate(-30%, -55%);
}
</style>
<h2 class="content1" >Employee Login</h2>
<form class="content2" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock %}