{% include 'imports.html' %}
{% include '../navbar.html' %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    {% block imports %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    {% endblock %}
    {% block login %}
    <main role="main">
        <div class="jumbotron center">
                <h2>Employee Login</h2>
        </div>
        <div class=" container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
            </div>
            </main>

    {% endblock %}
</body>
</html>