<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .body {
        font-family: Arial;
        margin: 0;
    }
    .header {
      padding: 20px;
      text-align: center;
      background: #A9A9A9;
      color: white;
      font-size: 25px;
    }
    </style>
</head>
<body>
    <div class="header">
      <h1>Buggie Inc</h1>
      <p>Employee Records</p>
    </div>
    <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
